services:
  analyzer:
    build: ./data-analysis
    volumes:
      - ./web:/app/web
      - ./data-analysis:/app
    # This command overrides the CMD in Dockerfile, ensuring we run the file from the volume
    command: python main.py

  web-server:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./web:/usr/share/nginx/html
